@font-face{
    font-family:'Montserrat';
    src:url("fonts/Montserrat-Black.eot");
    src:local("☺"),url("fonts/Montserrat-Black.woff") format("woff"),url("fonts/Montserrat-Black.ttf") format("truetype"),url("fonts/Montserrat-Black.svg") format("svg");
    font-weight:900;
    font-style:normal
}
@font-face{
    font-family:'Montserrat';
    src:url("fonts/Montserrat-Bold.eot");
    src:local("☺"),url("fonts/Montserrat-Bold.woff") format("woff"),url("fonts/Montserrat-Bold.ttf") format("truetype"),url("fonts/Montserrat-Bold.svg") format("svg");
    font-weight:700;
    font-style:normal
}
@font-face{
    font-family:'Montserrat';
    src:url("fonts/Montserrat-Regular.eot");
    src:local("☺"),url("fonts/Montserrat-Regular.woff") format("woff"),url("fonts/Montserrat-Regular.ttf") format("truetype"),url("fonts/Montserrat-Regular.svg") format("svg");
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:'Montserrat';
    src:url("fonts/Montserrat-Light.eot");
    src:local("☺"),url("fonts/Montserrat-Light.woff") format("woff"),url("fonts/Montserrat-Light.ttf") format("truetype"),url("fonts/Montserrat-Light.svg") format("svg");
    font-weight:300;
    font-style:normal
}
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html{
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
body{
    margin:0
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{
    display:block
}
audio,canvas,progress,video{
    display:inline-block;
    vertical-align:baseline
}
audio:not([controls]){
    display:none;
    height:0
}
[hidden],template{
    display:none
}
a{
    background-color:transparent
}
a:active,a:hover{
    outline:0
}
abbr[title]{
    border-bottom:1px dotted
}
b,strong{
    font-weight:bold
}
dfn{
    font-style:italic
}
h1{
    font-size:2em;
    margin:0.67em 0
}
mark{
    background:#ff0;
    color:#000
}
small{
    font-size:80%
}
sub,sup{
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}
sup{
    top:-0.5em
}
sub{
    bottom:-0.25em
}
img{
    border:0
}
svg:not(:root){
    overflow:hidden
}
figure{
    margin:1em 40px
}
hr{
    box-sizing:content-box;
    height:0
}
pre{
    overflow:auto
}
code,kbd,pre,samp{
    font-family:monospace, monospace;
    font-size:1em
}
button,input,optgroup,select,textarea{
    color:inherit;
    font:inherit;
    margin:0
}
button{
    overflow:visible
}
button,select{
    text-transform:none
}
button,html input[type="button"],input[type="reset"],input[type="submit"]{
    -webkit-appearance:button;
    cursor:pointer
}
button[disabled],html input[disabled]{
    cursor:default
}
button::-moz-focus-inner,input::-moz-focus-inner{
    border:0;
    padding:0
}
input{
    line-height:normal
}
input[type="checkbox"],input[type="radio"]{
    box-sizing:border-box;
    padding:0
}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{
    height:auto
}
input[type="search"]{
    -webkit-appearance:textfield;
    box-sizing:content-box
}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{
    -webkit-appearance:none
}
fieldset{
    border:1px solid #c0c0c0;
    margin:0 2px;
    padding:0.35em 0.625em 0.75em
}
legend{
    border:0;
    padding:0
}
textarea{
    overflow:auto
}
optgroup{
    font-weight:bold
}
table{
    border-collapse:collapse;
    border-spacing:0
}
td,th{
    padding:0
}
::-moz-selection{
    background:#FFF498
}
::selection{
    background:#FFF498
}
::-moz-selection{
    background:#FFF498
}
img::-moz-selection{
    background:transparent
}
img::selection{
    background:transparent
}
img::-moz-selection{
    background:transparent
}
body{
    -webkit-tap-highlight-color:#FFF498
}
body{
    background-color:#0c0c0c;
    font-size:14px;
    line-height:1.6;
    font-family:"Montserrat",sans-serif;
    color:#fff;
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:100%
}
.l-viewport{
    position:relative;
    width:100%;
    height:100vh;
    box-shadow:0 0 45px 5px rgba(0,0,0,0.85);
    overflow:hidden
}
.l-wrapper{
    position:relative;
    width:1440px;
    max-width:90%;
    height:100%;
    margin:0 auto
}
.l-side-nav{
    position:absolute;
    left:0;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    height:100%;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center
}
.l-side-nav::before{
    content:"";
    position:absolute;
    top:50%;
    left:0;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    width:2px;
    height:70%;
    max-height:750px;
    background-color:#555;
    opacity:.35;
    z-index:10
}
@media (max-width: 1180px){
    .l-side-nav{
        display:none
    }
}
.l-main-content{
    position:relative;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    list-style:none
}
.l-section{
    position:absolute;
    width:100%;
    height:100%
}
.device-notification{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    -ms-grid-row-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    background-color:#0c0c0c;
    z-index:12
}
.device-notification--logo{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    text-decoration:none;
    color:#fff
}
.device-notification--logo p{
    margin:0 0 0 10px;
    font-size:16px;
    font-weight:700;
    text-transform:uppercase
}
.device-notification--message{
    width:70%;
    margin:30px 0 0 0;
    font-weight:700;
    text-align:center
}
@media (max-width: 767px) and (min-width: 601px) and (max-height: 680px){
    .device-notification{
        display:-webkit-box;
        display:-webkit-flex;
        display:-ms-flexbox;
        display:flex
    }
}
@media (max-width: 600px) and (min-width: 480px) and (max-height: 580px){
    .device-notification{
        display:-webkit-box;
        display:-webkit-flex;
        display:-ms-flexbox;
        display:flex
    }
}
@media (max-width: 736px) and (min-width: 360px) and (orientation: landscape){
    .device-notification{
        display:-webkit-box;
        display:-webkit-flex;
        display:-ms-flexbox;
        display:flex
    }
}
@media(max-width: 359px){
    .device-notification{
        display:-webkit-box;
        display:-webkit-flex;
        display:-ms-flexbox;
        display:flex
    }
}
.section{
    opacity:0;
    visibility:hidden;
    -webkit-transition:opacity .4s ease-in-out,visibility 0s .4s;
    transition:opacity .4s ease-in-out,visibility 0s .4s
}
.section--is-active{
    opacity:1;
    visibility:visible;
    z-index:1;
    -webkit-transition:opacity .4s ease-in-out .4s;
    transition:opacity .4s ease-in-out .4s
}
.section--next{
    -webkit-transform:translateY(-45px);
    transform:translateY(-45px);
    -webkit-transition:-webkit-transform .4s ease-in-out;
    transition:-webkit-transform .4s ease-in-out;
    transition:transform .4s ease-in-out;
    transition:transform .4s ease-in-out, -webkit-transform .4s ease-in-out
}
.section--prev{
    -webkit-transform:translateY(45px);
    transform:translateY(45px);
    -webkit-transition:-webkit-transform .4s ease-in-out;
    transition:-webkit-transform .4s ease-in-out;
    transition:transform .4s ease-in-out;
    transition:transform .4s ease-in-out, -webkit-transform .4s ease-in-out
}
.header{
    position:absolute;
    top:0;
    left:0;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    width:100%;
    height:70px;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
    z-index:10
}
.header--logo{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    text-decoration:none;
    color:#fff
}
.header--logo p{
    margin:0 0 0 10px;
    font-size:16px;
    font-weight:700;
    text-transform:uppercase
}
.header--nav-toggle{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    width:50px;
    height:50px;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    cursor:pointer
}
.header--nav-toggle span,.header--nav-toggle::before,.header--nav-toggle::after{
    content:"";
    position:relative;
    width:16px;
    height:2px;
    background-color:#fff
}
.header--nav-toggle::before{
    bottom:5px;
    width:23px
}
.header--nav-toggle::after{
    top:5px;
    width:23px
}
.header--cta{
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    padding:0 20px;
    line-height:30px;
    text-decoration:none;
    color:#fff;
    font-weight:700;
    text-transform:uppercase;
    background-color:#0f33ff;
    border:none;
    opacity:0;
    visibility:hidden;
    -webkit-transition:opacity .4s ease-in-out,visibility 0s .4s;
    transition:opacity .4s ease-in-out,visibility 0s .4s
}
.header--cta:focus{
    outline:none
}
.header--cta.is-active{
    opacity:1;
    visibility:visible;
    -webkit-transition:opacity .4s ease-in-out .4s;
    transition:opacity .4s ease-in-out .4s
}
@media (max-width: 767px){
    .header--cta{
        display:none
    }
}
.side-nav{
    position:relative;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    width:100px;
    height:70%;
    max-height:750px;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-justify-content:space-around;
    -ms-flex-pack:distribute;
    justify-content:space-around;
    margin:0;
    padding:0;
    list-style-position:inside;
    z-index:10
}
.side-nav>li{
    position:relative;
    top:-5px;
    color:#fff;
    font-size:6px;
    cursor:pointer
}
.side-nav>li span{
    position:relative;
    top:3px;
    left:10px;
    color:#fff;
    font-size:14px;
    font-weight:300;
    opacity:0;
    visibility:hidden
}
.side-nav>li::before{
    position:absolute;
    top:3px;
    left:10px;
    color:#555;
    font-size:14px;
    font-weight:300
}
.side-nav li:nth-child(1)::before{
    content:"01"
}
.side-nav li:nth-child(2)::before{
    content:"02"
}
.side-nav li:nth-child(3)::before{
    content:"03"
}
.side-nav li:nth-child(4)::before{
    content:"04"
}
.side-nav li:nth-child(5)::before{
    content:"05"
}
.side-nav li.is-active{
    color:#0f33ff;
    -webkit-transition:color .4s ease-in-out;
    transition:color .4s ease-in-out
}
.side-nav li.is-active span{
    opacity:1;
    visibility:visible;
    -webkit-transition:opacity .4s ease-in-out;
    transition:opacity .4s ease-in-out
}
.side-nav li.is-active::before{
    left:-33px;
    color:#fff
}
.intro{
    position:relative;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    width:900px;
    max-width:75%;
    height:100%;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    margin:0 auto
}
@media (max-width: 1180px){
    .intro{
        max-width:100%
    }
}
.intro--banner{
    position:relative;
    height:475px
}
.intro--banner::before{
    content:"";
    position:absolute;
    bottom:20px;
    left:-15px;
    right:0;
    height:2px;
    background-color:#282828
}

.intro--banner h1{
    position:relative;
    font-size:68px;
    font-weight:900;
    line-height:1.4;
    z-index:1
}
.intro--banner button{
    position:relative;
    padding:5px 17px 5px 12px;
    font-weight:700;
    text-transform:uppercase;
    background-color:transparent;
    border:none
}

.intro--banner img{
    position:absolute;
    bottom:21px;
    right:-12px
}
.work{
    position:relative;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    width:960px;
    max-width:80%;
    height:100%;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    margin:0 auto
}
.work h2{
    margin:0 0 20px 0;
    font-size:38px;
    text-align:left;
}
.about{
    position:relative;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    width:900px;
    max-width:75%;
    height:100%;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    margin:0 auto
}
@media (max-width: 1180px){
    .about{
        max-width:100%
    }
}
.about--banner{
    position:relative;
    height:475px
}
.about--banner h2{
    position:relative;
    margin-top:30px;
    font-size:30px;
    font-weight:900;
    line-height:1.5;
    z-index:1
}
.about--banner a{
    padding:5px 17px 5px 0;
    text-decoration:none;
    color:#fff;
    font-weight:700;
    text-transform:uppercase;
    background-color:transparent
}
.about--banner a:hover svg{
    left:10px
}
.about--banner a svg{
    position:relative;
    left:5px;
    width:15px;
    fill:#fff;
    -webkit-transition:left .2s ease-in-out;
    transition:left .2s ease-in-out
}
@media (max-width: 767px){
    .about--banner{
        height:305px
    }
    .about--banner::before{
        top:0;
        left:125px
    }
    .about--banner::after{
        top:35px;
        left:260px
    }
    .about--banner h2{
        margin-top:10px;
        font-size:28px
    }
}
@media (max-width: 600px){
    .about--banner{
        height:auto
    }
    .about--banner::before{
        left:155px
    }
    .about--banner::after{
        left:310px
    }
    .about--banner h2{
        margin-top:0;
        font-size:28px
    }
}
.contact{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image:url("../img/contact-visual.png");
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat
}
.contact--lockup{
    position:relative;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    width:900px;
    max-width:75%;
    height:100%;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:end;
    -webkit-justify-content:flex-end;
    -ms-flex-pack:end;
    justify-content:flex-end;
    margin:0 auto
}
@media (max-width: 1180px){
    .contact--lockup{
        max-width:90%
    }
}
@media (max-width: 767px){
    .contact--lockup{
        -webkit-box-pack:center;
        -webkit-justify-content:center;
        -ms-flex-pack:center;
        justify-content:center
    }
}
.contact--lockup .modal{
    padding:45px 45px;
    text-align:center;
    background-color:#0c0c0c;
    box-shadow:0 0 30px 0 rgba(0,0,0,0.75)
}
.contact--lockup .modal--information p,.contact--lockup .modal--information a{
    display:block;
    margin:14px 0;
    text-decoration:none;
    color:#fff;
    font-weight:700
}
.contact--lockup .modal--information p{
    margin-top:0
}
.contact--lockup .modal--options{
    margin:0;
    padding:0;
    list-style:none
}
.contact--lockup .modal--options>li{
    width:130px;
    margin:0 auto 25px auto
}
.contact--lockup .modal--options li:nth-child(1){
    background-color:#1769ff
}
.contact--lockup .modal--options li:nth-child(2){
    background-color:#ea4c89
}
.contact--lockup .modal--options li:nth-child(3){
    margin-bottom:0;
    background-color:#0f33ff;
    text-transform:uppercase
}
.contact--lockup .modal--options a{
    display:block;
    width:100%;
    padding:8px 0;
    text-decoration:none;
    color:#fff;
    font-weight:700
}
@media (max-width: 1180px){
    .hire{
        max-width:100%
    }
}
@media (max-width: 767px){
    .work-request--options{
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
        -webkit-flex-direction:row;
        -ms-flex-direction:row;
        flex-direction:row;
        -webkit-justify-content:space-around;
        -ms-flex-pack:distribute;
        justify-content:space-around
    }
    .work-request--options .options-a,.work-request--options .options-b{
        display:block;
        width:auto
    }
}
@media (max-width: 600px){
    .work-request--options{
        margin:20px 0
    }
}
@media (max-width: 600px) and (max-width: 415px){
    .work-request--options{
        -webkit-box-pack:justify;
        -webkit-justify-content:space-between;
        -ms-flex-pack:justify;
        justify-content:space-between
    }
}
@media (max-width: 600px){
    .work-request--options label{
        width:150px;
        margin-bottom:15px;
        font-size:14px
    }
    .work-request--options input[type="checkbox"]:checked+label svg{
        width:12px
    }
    .work-request--information{
        margin-bottom:30px
    }
    .work-request--information .information-name,.work-request--information .information-email{
        height:40px;
        font-size:24px
    }
}


.container {
    font-family: 'Courier New', monospace;
    line-height: 2;
    background-color: #0c0c0c;
    color: #fff;
    max-width: 2000px; /* Adjust the width as needed */
    margin: 0 auto;
    padding: 100px; /* Adjust the padding as needed */
    font-size: 25px;
}

.prompt {
    display: inline-block;
}

.prompt .user {
    color: #0f0;
}

.prompt .directory {
    color: #0ff;
}

.prompt .cursor {
    display: inline-block;
    background-color: #0f0;
    width: 8px;
    height: 14px;
    margin-left: 2px;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* Content styles */
#content {
    padding: 40px;
}

.container p {
    margin-top: 40px; /* Adjust the margin as needed */
}

.container a {
    color: #0f0;
    text-decoration: none;
    border-bottom: 1px solid #0f0;
    transition: border-bottom 0.3s ease;
}

.container a:hover {
    border-bottom: 1px solid transparent;
}
